<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login and Registration Form in HTML | CodingNepal</title>
      <link rel="stylesheet" href="styles/resume1.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <form action="/createResume" method="post">
        <div class="container">
          <h1>User Resume</h1>
          <p>Please fill in this form to create a awesome resume .</p>
          <hr>
      
                
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter Name" name="name" id="name" required>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required>

          <label for="name"><b>Objective</b></label>
          <input type="text" placeholder="Enter Objective" name="objective" id="objective" required>
            
          <h3>Education</h3>
          <label for="name"><b>University Name</b></label>
          <input type="text" placeholder="University Name" name="universityname" id="objective" required>
          <label for="name"><b>Major</b></label>
          <input type="text" placeholder="Major" name="major" id="objective" required>
          <label for="name"><b>Minor</b></label>
          <input type="text" placeholder="Minor" name="minor" id="objective" required>

          <h3>Skills</h3>
          <label for="name"><b>Office Skills</b></label>
          <input type="text" placeholder="office skills" name="officeskills" id="objective" required>
          <label for="name"><b>Computer Skills</b></label>
          <input type="text" placeholder="computerskills" name="computerskills" id="objective" required>
        
          <h3>Experience</h3>
          <label for="name"><b>Experience 1</b></label>
          <input type="text" placeholder="office skills" name="experience1" id="objective" required>
          <label for="name"><b>Experience 2</b></label>
          <input type="text" placeholder="computerskills" name="experience2" id="objective" required>
        
          <h3>Hobbies</h3>
          <label for="name"><b></b></label>
          <input type="text" placeholder="office skills" name="hobbies" id="objective" required>
          <hr>
      
          <button type="submit" class="registerbtn">Create Resume</button>
        </div>
      
      </form>
   </body>
</html>